.header_top {
    background: #006B5F;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}

.single_header__top a {
    color: #fff;
}

.single_header__top {
    text-align: end;
}

.logo a {
    width: 100px;
    display: flex;
    align-items: center;
}


.main_header {
    /* padding: 10px 0px; */
    border-bottom: 1px solid var(--border-color);
    /* background: linear-gradient(180deg, #C31432 0%, #240B36 100%); */
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_item {
    position: relative;
    padding-right: 25px;
}

.header_nav_item::after {
    position: absolute;
    right: 0;
    content: '';
    background: #fff;
    width: 2px;
    height: 100%;
    top: 0;
}

.header_nav_link span {
    margin-left: 10px;
}

.header_nav_item:last-child:after {
    display: none;
}

.header_nav_link {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    /* color: #fff; */
    display: flex;
    text-transform: capitalize;
    align-items: center;
    line-height: 24px;
    transition: var(--transition);
}

/* .header_nav_item:not(:last-child):hover .header_nav_link {
    color: var(--main-color);
} */

.header_nav_link i {
    font-weight: 400;
    font-size: 14px;
}

.contact_btn {
    padding: 6px 20px;
    background: var(--text-color);
    border-radius: 25px;
    color: var(--global-color);
}

.sub_menu {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-bg);
    padding: 10px 15px;
    width: 220px;
    transition: var(--transition);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
    border: 1px solid rgb(71 85 105 / 5%);
    visibility: hidden;
    transition: var(--transition);
    max-height: 0px;
    overflow: hidden;
    z-index: 99;
}

.header_nav_item:hover .sub_menu {
    visibility: visible;
    top: 200%;
    max-height: 700px;
}


.sub_menu_link {
    display: block;
    color: var(--text-color);
    font-weight: 500;
    padding: 3px 6px;
    border-bottom: 1px dotted rgb(15 23 42 / 20%);
    font-size: 15px;
}

.sub_menu_link:hover {
    background: #006B5F;
    color: var(--global-color);
}

.header_nav_item:not(:last-child) .sub_menu_link {
    margin-bottom: 5px;
}



/* Mobile Nav */

.offcanvas.offcanvas-start {
    width: 320px;
    height: 100vh;
}

.offcanvas-backdrop {
    height: 100vh;
}

.nav_logo a {
    width: 95px;
    display: block;
}

.mobile_suv_nav>ul {
    margin: 10px;
    padding-bottom: 10px;
}

.mobile_nav ul li:not(:last-child) {
    margin-bottom: 10px;
}

.nested_mobile_subnav ul {
    margin: 10px;
    border-radius: 4px;
}

.mobile_sub_nav_item {
    background: #e9ecef;
}

a.sub_dropdown_btn.active {
    background: var(--main-color);
    color: var(--global-color) !important;
}

.offcanvas-header button,
.cross_tourside button,
.modal__header button {
    height: 36px;
    width: 36px;
    background: var(--main-color);
    box-sizing: border-box;
    border-radius: 50%;
    color: var(--global-color);
    border: none;
    font-size: 20px;
    display: grid;
    place-content: center;
}

.mobile_nav>ul>li {
    background: var(--primary-bg);
    border-radius: 5px;
}

.mobile_nav ul li a {
    padding: 7px 20px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.dropdown_button.active {
    background: var(--main-color);
    color: var(--global-color);
}

.mobile_sub_nav_item a {
    color: var(--text-color) !important;
    padding: 5px 10px;
}

.mobile_suv_nav {
    display: none;
}

.nested_mobile_subnav {
    display: none;
}


/* banner start */
.banner__area {
    background-image: url(../image/banner.jpg);
    position: relative;
    z-index: 2;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner__area::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    z-index: -1;
}

.banner__content {
    color: #fff;
    text-align: center;
}

.banner__content h1 {
    font-size: 50px;
}

.banner__content h6 {
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 0;
}

.banner__content h6 {
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 0;
}

.banner__content a {
    background: #006B5F;
    border-radius: 3px;
    color: #fff;
    padding: 15px 60px;
    transition: var(--transition);
    line-height: 1;
    letter-spacing: 5px;
}

.banner__content a:hover {
    background: #000;
}

.copycontent p {
    color: #fff;
}

/* banner end */

/* feature start */

.feature__icon i {
    background: #F6F8F5;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
}

.single__feature {
    text-align: center;
    background: #006B5F;
    transition: var(--transition);
    padding: 20px;
    border-radius: 10px;
}

.single__feature:hover {
    transform: translateY(-5px);
}

.feature__content h4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    padding: 5px 0;
    color: #fff;
    -webkit-line-clamp: 2;
    height: 40px;
}

.feature__content p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    padding: 5px 0;
    color: #fff;
    -webkit-line-clamp: 2;
    height: 60px;
}

/* feature end */

/* product start */

.single__product {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    transition: var(--transition);
    overflow: hidden;
}

.product__content h4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 55px;
    color: #000;
    font-size: 20px;
}

.product__content {
    padding: 20px;
}

.product__image img {
    border-radius: 10px 10px 0 0;
    max-height: 250px;
    min-height: 250px;
    transition: var(--transition);
}

.single__product:hover img {
    transform: scale(1.1);
}

.product__image {
    overflow: hidden;
}

.single__product:hover {
    transform: translateY(-5px);
}

.single__product:hover button {
    color: #006B5F;
}

/* .single__product {
    background: #EFEEF4;
    border-radius: 10px 10px 0 0;
    transition: var(--transition);
}

.single__product:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: translateY(-2px);
}

.product__content {
    padding: 20px;
}

.product__image img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.product__content a {
    padding: 0;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: normal;
    color: #74a84a;
    transition: var(--transition);
    text-transform: capitalize;
    line-height: 1.6;
}

.product__content a:hover {
    color: #585858;
}

.product__content h4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 55px;
} */

/* product end */

/* dream start */
.dream__area {
    background-image: url(../image/box-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.dream__area::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .7;
}

.dream__content h2 {
    font-size: 50px;
}

.dream__content {
    color: #fff;
    padding: 100px 0;
}

.dream__content p {
    padding: 10px 0;
    font-size: 18px;
}

.contact__info {
    margin-top: 30px;
}

.contact__info h5 {
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.contact__number h3 a {
    color: #fff;
}

.contact__number h3 {
    line-height: 1.5;
}

/* dream end */

/* testimonial start */

.single__testimonial img {
    width: 150px;
    margin: auto;
    border-radius: 100%;
    object-fit: cover;
    height: 150px;
}

.testimonial__content {
    text-align: center;
}

.testimonial__content h5 {
    text-transform: capitalize;
    padding: 15px 0;
    margin: 0;
    font-size: 25px;
}

.testimonial__content h5 span {
    display: block;
    font-size: 50%;
}

.testimonial__content p {
    font-size: 16px;
}

.testimonial__active .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.testimonial__active .slick-dots li {
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 100%;
    transition: var(--transition);
}

.testimonial__active .slick-dots li.slick-active {
    width: 30px;
    border-radius: 2px;
    background: #006B5F;
}

.section__heading {
    text-align: center;
}

.section__heading h3 {
    text-transform: uppercase;
    font-size: 40px;
}

.section__heading h3 span {
    text-transform: full-size-kana;
    display: block;
    font-size: 60%;
}

.testimonial__active {
    margin-top: 50px;
}

/* .single__testimonial {
    display: flex;
    border-radius: 20px 20px 20px 0;
    background: #F6F8F5;
    height: 100%;
}

.testimonial__content {
    padding: 40px;
    width: 60%;
}

.testimonial__item {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.testimonial__photo img {
    height: 100%;
    border-radius: 10px 10px 10px 0;
}

.testimonial__photo {
    width: 40%;
}

.testimonial__content p {
    font-size: 20px;
    font-weight: normal;
}

.testimonial__content h5 span {
    display: block;
    font-weight: normal;
    font-size: 70%;
}

.testimonial__content h5 {
    margin-top: 30px;
}

.testimonial__heading h2 {
    font-size: 40px;
}

.testimonial__heading p {
    font-size: 20px;
    padding: 20px 0;
} */

/* testimonial end */

/* box content */
.box-contact__area {
    background-image: url(../image/box-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 50vh;
    display: flex;
    align-items: center;
    z-index: 2;
    background-size: cover;
}

.box-content {
    padding: 100px 0;
}

.box-content h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 50px;
}

/* box content */

/* footer start */
.footer__area {
    border-top: 3px solid #006B5F;
}

.footer__logo a img {
    width: 150px;
}

.footer__number a {
    color: #006B5F;
    font-size: 40px;
}

.footer__number {
    margin-top: 20px;
}

.footer__logo p {
    font-weight: 300;
}

.footer__number a span {
    display: block;
    line-height: 1;
}

.footer__form h5 {
    color: #006B5F;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer__form input:focus,
.contact__left textarea:focus {
    box-shadow: none;
    border: 1px dotted #000;
}

.footer__form input,
.contact__left textarea {
    border-radius: 0;
    margin-bottom: 10px;
}

.footer__form form button:hover {
    background-color: #1C1C1C;
}

.footer__form form button {
    background: #006B5F;
    width: 100%;
    transition: var(--transition);
    border: none;
    padding: 8px;
    letter-spacing: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.footer__social a {
    display: inline-block;
    text-align: center;
    transition: var(--transition);
}

.footer__social a i {
    color: #fff;
    height: 40px;
    line-height: 40px;
    width: 40px;
}

.footer__social {
    margin-top: 30px;
}

.footer__social a i.fa-facebook-f {
    background: #1877f2;
}

.footer__social a i.fa-twitter {
    background-color: #1da1f2;
}

.footer__social a i.fa-google-plus {
    background-color: #db4437;
}

.footer__social a i.fa-snapchat {
    background-color: #fffc00;
    color: #000;
}

.footer__social a i.fa-instagram {
    background-color: #262626;
}

.footer__menu h5 {
    color: #006B5F;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.footer__menu ul li a {
    color: #000;
    transition: var(--transition);
    font-size: 16px;
    margin-left: 15px;
}

.footer__menu {}

.footer__menu ul li a:hover {
    color: #006B5F;
    margin-left: 5px;
    text-indent: revert-layer;
    margin-left: 20px;
}

.footer__menu ul li {
    position: relative;
}

.footer__menu ul li::after {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    background: #006B5F;
    transform: translateY(-50%);
    border-radius: 100%;
}

.develop {
    text-align: end;
}

.copyright__area {
    background: #006B5F;
    padding: 15px 0;
    color: #000;
}

.develop a {
    color: #fff;
    font-weight: 700;
}

/* footer end */

/* breadcrumb start */
.breadcrumb__area {
    background-size: cover;
    background-image: url(../image/breadcrumb.jpg);
    background-position: center;
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    height: 30vh;
    align-items: center;
}

.breadcrumb__area::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    z-index: -1;
    height: 100%;
    opacity: .5;
}

.breadcrumb__content h1 {
    color: #fff;
    font-size: 80px;
}

/* breadcrumb end */
.contact__info h5 i {
    color: #006B5F;
}

/* contact start */

.contact__left.footer__form {
    /* border: 1px solid #ddd; */
    /* box-shadow: 0px 0px 120px 0px rgba(0, 0, 0, 0.08); */
    padding: 40px;
    background: #f0f8ff;
}

.row.g-0.najmul__contact {
    box-shadow: 0px 0px 120px 0px rgba(0, 0, 0, 0.08);
}

.footer__form h2 {
    padding: 10px 0;
}

.contact__icon i {
    background: #006B5F;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 100%;
}

.single__contact__item {
    display: flex;
    gap: 5px;
}

.contact__content h5 {
    margin: 0;
    font-weight: 600;
    color: #000;
    padding: 0;
}

.contact__content {
    margin-left: 10px;
}

.contact__content p a {
    color: #000;
    font-weight: 400;
    line-height: 1;
}

.contact__info.footer__form {
    padding: 30px;
}

.najmul__title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 70px;
    font-size: 30px;
}

.contact__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* contact end */

/* about start */


.about_photo img {
    height: 500px;
    position: relative;
    width: 100%;
}

.about__content h6 {
    font-size: 15px;
}

.process_list p i {
    background: #006B5F;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.about__content p {
    font-size: 25px;
}

.process_list p {
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px 0px;
}

.contact___info h6 {
    font-size: 22px;
}

.about__content h6 a {
    color: #006B5F;
}

.about_photo {
    position: relative;
}

.about_photo::after {
    position: absolute;
    content: '';
    left: 10%;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 5px solid #006B5F;
}

.about___content {
    padding-top: 80px;
}

.about_story {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    font-size: 50px;
    padding-bottom: 10px;
}

.about_story::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 100%;
    background: #006B5F;
    width: 150px;
    height: 3px;
    transform: translateX(-50%);
}

/* about end */

/* details start */

.details__content {
    background: #F0F8FF;
    padding: 100px;
}

.details__content p {
    font-size: 18px;
    margin-top: 20px;
}

.details__content a {
    color: #585858;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: var(--transition);
}

.details__content a:hover {
    color: #006B5F;
}

.meta_list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.meta_list li a {
    margin: 0;
}

.meta_list li {
    display: flex;
    gap: 5px;
}

.details__form form {
    background: #F0F8FF;
    padding: 100px;
}

.details__form form input,
.details__form form textarea {
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 15px;
}

.details__form form input:focus,
.details__form form textarea:focus {
    box-shadow: none;
    border: 1px dotted #000;
}

.details__form form p {
    padding: 10px 0;
    font-size: 18px;
    padding-bottom: 30px;
}

.details__form form label {
    font-size: 18px;
    line-height: 1;
}

.details__form .main_btn {
    background: #006B5F;
    border-radius: 0;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 3px;
}

/* details end */

/* scrap start */
.single__slide img {
    max-height: 250px;
    min-height: 250px;
    height: 100%;
}


.scrap_list {
    color: #006B5F;
    position: relative;
    margin-bottom: 40px;
    font-size: 40px;
    padding-bottom: 30px;
}

.product__content a {
    color: #006B5F;
}

.scrap_list::after {
    position: absolute;
    content: '';
    background: #006B5F;
    left: 0;
    top: 100%;
    height: 5px;
    width: 80px;
}

.scrap__list {
    position: relative;
}

.arrow_product {
    position: absolute;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
}

.scrap__list .slick-dots li {
    text-indent: -99999px;
    width: 8px;
    background: #006B5F;
    cursor: pointer;
    height: 8px;
    transition: var(--transition);
    border-radius: 50%;
}

.scrap__list .slick-dots li.slick-active {
    width: 20px;
    border-radius: 2px;
}

.scrap__list .slick-dots {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.single__slide span {
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    opacity: .5;
    text-align: center;
    display: block;
}

.product__content h4 a {
    color: #000;
    line-height: 1;
    letter-spacing: 0;
    font-size: 22px;
}

/* scrap end */


/* the slides */
.slick-slide {
    margin-left: 15px;
}

/* the parent */
.slick-list {
    margin-left: -15px;
}